.ion-content{
  padding-top: 43px;
}

.display-none{
  display: none;
}

.tabs-icon-top .icon{
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -6px;
}

.bar-green{
  background: #18d7ae;
  background: -moz-linear-gradient(left, #D3423A 90%, #DB9D48 100%);
  background: -webkit-linear-gradient(left, #D3423A 90%, #DB9D48 100%);
  background: linear-gradient(to right, #212121 60%, #212121 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18d7ae', endColorstr='#42b5bf', GradientType = 1);
  border-color: transparent;
}

.bar-green .title{
  color: white !important;
}

.bar-green .button{
  color: white !important;
  background-color: transparent;
}

.tabs-icon-top a:focus{
  color: #5d9cec;
}

.button-positive {
  background: #5d9cec !important;
  border-color: #5d9cec;
}

.button-assertive {
  background: #fc6e51 !important;
  border-color: #fc6e51;
}

.button-assertive {
  background: #fc6e51 !important;
  border-color: #fc6e51;
}

.button-balanced {
  background: #18d7ae !important;
  border-color: #18d7ae;
}

.toggle.toggle-assertive input:checked + .track {
  border-color: #fc6e51;
  background-color: #fc6e51;
}

.range.range-assertive input::-webkit-slider-thumb:before {
  background: #fc6e51;
}

.range.range-assertive input::-ms-fill-lower {
  background: #fc6e51;
}

.toggle.toggle-positive input:checked + .track {
  border-color: #5d9cec;
  background-color: #5d9cec;
}

.range.range-positive input::-webkit-slider-thumb:before {
  background: #5d9cec;
}

.range.range-positive input::-ms-fill-lower {
  background: #5d9cec;
}

.button:active {
  opacity: .4;
}

.tabs {
  background-color: #f5f7fa;
  border-color: #c5ccd3;
}

.item-divider {
  background-color: #f5f7fa;
  border-color: #dddddd;
}